/* This file uses color variables from lib/colors.nix; Nix injects their definitions at build time. */

* {
  font-family: Monaspace Neon, Monaspace Argon, Monaspace Xenon, Monaspace Radon, Monaspace Krypton, monospace;
  font-size: 20px;
  min-height: 0;
  padding-right: 2px;
  padding-left: 2px;
  padding-bottom: 0px;
}

#waybar {
  background: transparent;
  color: @fg;
  margin: 2px 2px;
}

#workspaces {
  border-radius: 5px;
  margin: 5px;
  background: @bg;
  margin-left: 1rem;
}

#workspaces button {
  color: @fg_dark;
  border-radius: 5px;
  padding: 0.4rem;
}

#workspaces button.active {
  color: @blue;
  border-radius: 5px;
}

#workspaces button:hover {
  color: @cyan;
  border-radius: 5px;
}

#tray,
#clock,
#battery,
#pulseaudio,
#network,
#cpu,
#memory,
#custom-lock {
  background-color: @bg;
  padding: 0.5rem 1rem;
  margin: 5px 0;
  border-radius: 0px 5px 5px 0px;
}

#memory {
  border-radius: 0px 5px 5px 0px;
}

#clock {
  color: @blue;
  border-radius: 5px;
  margin-right: 1rem;
}

#battery {
  color: @green;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#battery {
  border-radius: 0;
}

#pulseaudio {
  color: @cyan;
  border-radius: 5px 0px 0px 5%;
  margin-left: 1rem;
}

#custom-lock {
  border-radius: 5px 0px 0px 5px;
  color: @fg_dark;
}

#tray {
  margin-right: 1rem;
  margin-left: 1rem;
  border-radius: 5px;
}
